<configuration>

	<appender name="STASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>/tmp/app.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <fileNamePattern>tmp/app.%d{yyyy-MM-dd}.log</fileNamePattern>
	        <maxHistory>7</maxHistory>
	    </rollingPolicy>  
	    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
	</appender> 
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
	

	<root level="INFO">
	    <appender-ref ref="CONSOLE" />        
	</root>

</configuration>

